
<div class="container">
	<div class="content span12">
		<div class="grid">
			<div class="row" style="padding-top: 5%;">
				<h2>À propos</h2>
			</div>
			<div class="row">
				<figure class="effect-julia span3">
					<img  src="assets/team/ariche_j.jpg">
					<figcaption>
						<h2><span>Judith</span></h2>
						<div>
							<p>
								Judith supervise l'équipe
							</p>
							<p>
								Elle règlent les problèmes
							</p>
							<p>
								Elle s’occupe aussi de la paperasse
							</p>
						</div>
						<a href="#">View more</a>
					</figcaption>
				</figure>
				<figure class="effect-julia span3 offset1">
					<img  src="assets/team/roullo_p.jpg">
					<figcaption>
						<h2><span>Pierre</span></h2>
						<div>
							<p>
								Judith supervise l'équipe
							</p>
							<p>
								Elle règlent les problèmes
							</p>
							<p>
								Elle s’occupe aussi de la paperasse
							</p>
						</div>
						<a href="#">View more</a>
					</figcaption>
				</figure>
				<figure class="effect-julia span3  offset1">
					<img  src="assets/team/clermo_g.jpg">
					<figcaption>
						<h2><span>Greg</span></h2>
						<div>
							<p>
								Judith supervise l'équipe
							</p>
							<p>
								Elle règlent les problèmes
							</p>
							<p>
								Elle s’occupe aussi de la paperasse
							</p>
						</div>
						<a href="#">View more</a>
					</figcaption>
				</figure>

			</div>

			<div class="row">
				<figure class="effect-julia span3">
					<img  src="assets/team/irjud_n.jpg">
					<figcaption>
						<h2><span>Nathan</span></h2>
						<div>
							<p>
								Judith supervise l'équipe
							</p>
							<p>
								Elle règlent les problèmes
							</p>
							<p>
								Elle s’occupe aussi de la paperasse
							</p>
						</div>
						<a href="#">View more</a>
					</figcaption>
				</figure>
				<figure class="effect-julia span3 offset1">
					<img  src="assets/team/ingoua_r.jpg">
					<figcaption>
						<h2><span>Roger</span></h2>
						<div>
							<p>
								Judith supervise l'équipe
							</p>
							<p>
								Elle règlent les problèmes
							</p>
							<p>
								Elle s’occupe aussi de la paperasse
							</p>
						</div>
						<a href="#">View more</a>
					</figcaption>
				</figure>
				<figure class="effect-julia span3 offset1">
					<img  src="assets/team/benham_a.jpg">
					<figcaption>
						<h2><span>Camille</span></h2>
						<div>
							<p>
								Judith supervise l'équipe
							</p>
							<p>
								Elle règlent les problèmes
							</p>
							<p>
								Elle s’occupe aussi de la paperasse
							</p>
						</div>
						<a href="#">View more</a>
					</figcaption>
				</figure>

			</div>
			<div class="row">
				<figure class="effect-julia span3 ">
					<img  src="assets/team/adau_m.jpg">
					<figcaption>
						<h2><span>Max</span></h2>
						<div>
							<p>
								Judith supervise l'équipe
							</p>
							<p>
								Elle règlent les problèmes
							</p>
							<p>
								Elle s’occupe aussi de la paperasse
							</p>
						</div>
						<a href="#">View more</a>
					</figcaption>
				</figure>
				<figure class="effect-julia span3 offset1 offset1">
					<img  src="assets/team/darnay_l.jpg">
					<figcaption>
						<h2><span>Lorine</span></h2>
						<div>
							<p>
								Judith supervise l'équipe
							</p>
							<p>
								Elle règlent les problèmes
							</p>
							<p>
								Elle s’occupe aussi de la paperasse
							</p>
						</div>
						<a href="#">View more</a>
					</figcaption>
				</figure>
				<figure class="effect-julia span3 offset1">
					<img  src="assets/team/ardrit_g.jpg">
					<figcaption>
						<h2><span>Guillaume</span></h2>
						<div>
							<p>
								Judith supervise l'équipe
							</p>
							<p>
								Elle règlent les problèmes
							</p>
							<p>
								Elle s’occupe aussi de la paperasse
							</p>
						</div>
						<a href="#">View more</a>
					</figcaption>
				</figure>

			</div>

		</div>
	</div>

</div><!-- /container -->
<script>
// For Demo purposes only (show hover effect on mobile devices)
[
].slice.call(document.querySelectorAll('a[href="#"')).forEach(function(el) {
el.addEventListener('click', function(ev) {
ev.preventDefault();
});
});
</script>
<script>
$('#ha-header').removeClass('ha-header-hide');
</script>
<br>
<br>
