/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap
 *= require onepage-scroll
 *= require footer
 *= require header
 *= require app_link
 *= require component_onepage
 *= require normalize
 *= require component_sliderDP
 *= require component_form
 *= require component_tutoList
 *= require component_Search
 *= require dragdrop
 *= require aboutUs
 */

body {
	padding-top: 61px; /* header: 41px */
	padding-bottom: 69px; /* footer: 49px */
	background-color: #F2F9FF;
}
