// Place all the styles related to the Dontpanic controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-dontpanic{
    height: 100%;
    background-color: #F2F9FF;
}

.dp-box{
margin-top: 42px;
margin-left: 10%;
}

.link-tuto{
  margin-top: 4%;
}

.title-categorie{
  margin-top: 2%;
}

.tri-index{
  margin-left: 20%;
  margin-top: -3%;
}

.toolbar-search{
  margin-top: 4%;
}

.tutorial-list{
  margin-top:4%;
}

.tutorial-result-image{
  margin-top: 4%;
}

.img-title{
  margin-top: 4%;
}

.step-content{
  width: 200px;
height: 100px;
text-align: justify;

}

.content-box{
  background: #fff;
border: 6px solid #ccc;
height: 100px;
margin: 20px;
padding: 20px;
width: 600px;
}

  .content-box p{

width: 600px;
}


.tuto-title-dp{
  width: 90%; 
  line-height: inherit;
  height: 20%;
  text-align: center;
  }
  
.info-title-dp{
color: #2E3444;
margin-left: 60px;
}














