// Place all the styles related to the Stillalive controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-stillalive{
    height: 100%;
    background-color: #F2F9FF;
}

.sa-box{
margin-top: 42px;
margin-left: 10%;
}

.alert-stillalive{
  margin-top: 10%;
}
